@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}
    <div>
        <h1>Shopping Cart</h1>

        
        <h4>Order</h4>
        <table class="table">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Order.DateCreated)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProduct.Product.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderProduct.Product.Price)
                    </th>
                    <th>
                        Unit
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LineItems)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Product.DateCreated)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Units)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |*@
                            @*<a asp-action="Details" asp-route-id="@item.OrderProducts">Details</a> |*@
                            <a asp-action="DeleteShoppingCartItem" asp-route-orderId="@Model.Order.OrderId" asp-route-productId="@item.Product.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>