@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}
    <div>
        <h1>Shopping Cart</h1>

        
        <h4>Order</h4>
        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Product.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </th>
                    <th>
                        Unit
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderProducts)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Units)
                        </td>*@
                    <td>
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.ProductId">Details</a> |
                        <a asp-action="Remove" asp-route-id="@item.OrderProductId"> Remove from cart </a>
                    </td>
                    </tr>
                        }
            </tbody>
        </table>
    </div>