@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1>Shopping Cart</h1>


    <h4>Current Order</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th>
                    Unit
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LineItems)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Units)
                    </td>
                    <td>

                        @*<a asp-action="Details" asp-route-id="@item.OrderProducts">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div>
        <a asp-action="Delete" asp-route-id="@Model.Order.OrderId">Cancel Order</a>
    </div>
    <div class="btn btn-secondary">
        <a href='javascript:history.go(-1)'>Go Back</a>
    </div>
    |
    <div class="btn btn-primary">
        <a asp-action="Edit" asp-route-id="@Model.Order.OrderId">Checkout</a>
    </div>
</div>