@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

    <h1> @Html.DisplayFor(model => model.Label)</h1>

<div>
    <hr />
    <dl class="row">   
            <dd class="col-sm-10">
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
        @foreach (var prod in Model.Products)
        {

                <tr>

                    <td><a asp-action="Details" asp-controller="Products" asp-route-id="@prod.ProductId">
                    @prod.Title</a></td>
                    <td>@prod.Quantity</td>
                    <td>@prod.Price</td>
                </tr>

        }
                    </table>
            </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
